<div class="row">
  <div class="mb-3 col-6">
    <label for="">From</label>
    <select
      class="form-select"
      id="fromCurrency"
      [(ngModel)]="selectedFromCurrency"
    >
      <option
        *ngFor="let currency of currencies$ | async"
        [value]="currency.code"
      >
        {{ currency.code }}
      </option>
    </select>
  </div>
  <div class="mb-3 col-6">
    <label for="">To</label>
    <select
      class="form-select"
      id="toCurrency"
      [(ngModel)]="selectedToCurrency"
    >
      <option
        *ngFor="let currency of currencies$ | async"
        [value]="currency.code"
      >
        {{ currency.code }}
      </option>
    </select>
  </div>
</div>
